<div class="domain-search-hero">
  <h2>Check availability</h2>
  <p>Search to see if the .gov domain you want is available.</p>
  <form class="usa-search usa-search--domain-choosing" role="search">
    <div class="domain-search-row">
      <div class="domain-input-wrapper">
        <label class="usa-sr-only" for="domain-input-choosing">Search</label>
        <input
          id="domain-input-choosing"
          class="usa-input domain-input-with-suffix"
          type="search"
          aria-label="Start your .gov domain search. Check if the .gov domain you want is available."
        />
        <span class="domain-suffix" aria-hidden="true">.gov</span>
      </div>
      <button
        class="usa-button domain-search-button"
        type="submit"
        onclick="checkDomainAvailability('domain-input-choosing', true); return false;"
        aria-label="Start your .gov domain search."
        title="Check Domain Availability"
      >Search</button>
    </div>
    <div id="grid-row--domain_message-choosing" class="margin-top-2 display-none">
      <div class="usa-search--domain_message-choosing" id="usa-search--domain_message"></div>
    </div>
  </form>
</div>