<form class="usa-search usa-search--domain-choosing" role="search">
    <div class="grid-row">
        <div class="grid-col grid-col__input-grid">
            <label class="usa-sr-only" for="domain-input-choosing">Search</label>
            <input
                id="domain-input-choosing" 
                class="usa-input" 
                type="search" 
                aria-label="Check Domain Name input"
                title="Check Domain input"
            />
            <span class="padding-left-05">.gov</span>
        </div>
    </div>
    <div id="grid-row--domain_message-choosing" class="grid-row margin-top-2 display-none">
        <div class="grid-col">
            <div class="usa-search--domain_message-choosing" id="usa-search--domain_message"></div>
        </div>
    </div>
    <div class="grid-row margin-top-2">
        <div class="grid-col">
            <button 
            class="usa-button" 
            type="submit"
            onclick="checkDomainAvailability('domain-input-choosing', true)"
            onsubmit="return false"
            aria-label="Start your .gov domain search. Check if the .gov domain you want is available. We’ll work with you to find the best domain for your organization that meets our requirements. Do not include .gov in your search."
            >
                Check availability
            </button>
        </div>
    </div>
</form>
