<div class="usa-alert usa-alert--info usa-alert--no-icon usa-alert--naming">
  <div class="usa-alert__body">
    <h2 class="usa-alert__heading font-sans-xl">
      Naming requirements for all organization types
    </h2>
    <p>
      Your requested domain name must meet the <a class="usa-link" href="#naming-requirements-for-specific-organization-types">requirements of your organization type</a>, and:
    </p>
    <ul>
      <li><a href="#domain-availability-form" class="usa-link"><strong>Be available</strong></a>. If it's already registered, you can't request it.</li>
      <li><strong>Clearly relate to your organization's name, location, and/or services</strong>. Generic terms are reserved for federal agencies. Requests for your organization's initials alone may not be approved.</li>
      <li><strong>Be unlikely to mislead or confuse the general public</strong>, even if you're only targeting a specific audience. In practice, this means most domains must include a state’s name (abbreviated or full) and may need additional identifiers (like “county”, “township”, or “tribe”). We do not typically approve domains that are shorter than 6 characters.</li>
    </ul>
    <p>
      We generally do not approve more than <a href="{{ '/help/faq/#one-domain' }}" class="usa-link">one domain</a> per organization (including naming variations). We also will not approve domains for internal or non-internet use.
    </p>
  </div>
</div>
