<form class="usa-search usa-search--domain-choosing" role="search">
    <div class="grid-row">
        <div class="grid-col grid-col__input-grid">
            <label class="usa-sr-only" for="domain-input-choosing">Search</label>
            <input
                id="domain-input-choosing" 
                class="usa-input" 
                type="search" 
                aria-label="Check Domain Name input"
                title="Check Domain input"
            />
        </div>
        <div class="grid-col-auto grid-col__input-grid">
            <span class="padding-left-05 margin-right-2">.gov</span>
        </div>
        <div class="grid-col grid-col__input-grid">
            <button 
            class="usa-button" 
            type="submit"
            onclick="checkDomainAvailability('domain-input-choosing', true)"
            onsubmit="return false"
            aria-label="Check availability of Domain Name"
            title="Check Domain Availability"
            >
                Search
            </button>
        </div>
    </div>
    <div id="grid-row--domain_message-choosing" class="grid-row margin-top-2 display-none">
        <div class="grid-col">
            <div class="usa-search--domain_message-choosing" id="usa-search--domain_message"></div>
        </div>
    </div>
    <div class="grid-row margin-top-2">
        <div class="grid-col">
        </div>
    </div>
</form>
