<section aria-label="Alert" >
    <div class="usa-alert usa-alert--warning usa-alert--no-icon">
      <div class="grid-container padding-0">
        <div class="usa-alert__body">
          <h4 class="usa-alert__heading">Scheduled maintenance</h4>
          <p class="usa-alert__text">
            February 21, 2025 12:00 UTC: We're performing routine maintenance and expect a service disruption on the .gov registrar. The .gov zone and individual domains remain online. However, the registrar may appear offline.
          </p>
        </div>
      </div>
    </div>
</section>

