<section aria-label="Site alert" class="usa-site-alert usa-site-alert--info">
  <div class="usa-alert">
    <div class="usa-alert__body">
      <h3 class="usa-alert__heading text-black">
        Our review is taking longer than normal
      </h3>
      <p class="usa-alert__text">
        Due to high volume, the review process for new domain requests may take 8 weeks or more. <a href="https://manage.get.gov" target="_blank">Sign in</a> to check the status of your request. 
      </p>
    </div>
  </div>
</section>
