<section aria-label="Site alert" class="usa-site-alert usa-site-alert--emergency">
  <div class="usa-alert">
    <div class="usa-alert__body">
      <h3 class="usa-alert__heading text-white">
        System outage
      </h3>
      <p class="usa-alert__text">
        February 5, 15:00 UTC: We're investigating an outage on the .gov registrar. The .gov zone and individual domains remain online. However, you can't request a new domain or manage an existing one at this time.
      </p>
    </div>
  </div>
</section>

