<section class="usa-graphic-list usa-section usa-section--dark highlights highlight__benefits">
    <div class="grid-container" >
      <h2>Benefits of .gov</h2>
      <div class="usa-graphic-list__row grid-row grid-gap font-body-md">
          <div class="usa-media-block tablet:grid-col margin-bottom-2">
            {% image_with_class  "./_img/dotgov_benefit_secure.svg" "usa-media-block__img" "" %}
            <div class="usa-media-block__body">
              <p>
                Helps the public identify official, trusted information
              </p>
            </div>
          </div>
          <div class="usa-media-block tablet:grid-col margin-bottom-2">
            {% image_with_class  "./_img/dotgov_benefit_eligible.svg" "usa-media-block__img" "" %}
            <div class="usa-media-block__body">
              <p>
                Governments at all levels are eligible for .gov domains (cities, counties, and more)
              </p>
            </div>
          </div>
          <div class="usa-media-block tablet:grid-col margin-bottom-2">
            {% image_with_class  "./_img/dotgov_benefit_free.svg" "usa-media-block__img" "" %}
            <div class="usa-media-block__body">
              <p>
                They're free!
              </p>
            </div>
          </div>
      </div>
  </section>