<section aria-label="Alert" >
    <div class="usa-alert usa-alert--warning usa-alert--no-icon">
      <div class="usa-alert__body">
        <p class="usa-alert__text">
        <strong>BETA SITE:</strong> We built a new way to request and manage .gov domains — a new .gov registrar. Take a look around, but don’t rely on this site yet. This site is for testing purposes only. Don’t enter real data into any form on this site. Visit <a href="https://get.gov" class="usa-link">get.gov</a> for the latest updates on the new .gov registrar.
        </p>
      </div>
    </div>
</section>

