<h2>The latest from .gov</h2>
<ul class="usa-list">
  {% for post in posts limit:2 %}
  <li class="blog-item">
    <h4 class="title-bullet margin-bottom-05 margin-top-1">
      <a class="usa-link" href="{{ post.url | url }}" >
        {{ post.data.title }}
      </a>
    </h4>
    <time class="text-base-dark" 
          datetime="{{ post.date | date: '%Y-%m-%dT12:00:00+01:00' }}"
    >
      {{ post.date | date: '%m/%d/%y' }}
    </time>
  </li>
  {% endfor %}
</ul>
<a class="usa-link" href="{{ '/blog/' | url }}">More blog posts</a>
