<li class="postpreview margin-top-4 padding-left-2 ">
  <div class="postpreview__body">
  {% if post.data.image %}
    {% assign imagepath="./_img/" | append: post.data.image %}
    {% image_with_class imagepath "margin-bottom-1 maxw-8" post.data.image_alt_text %}
  {% endif %}
    <h2 class="title-bullet margin-bottom-05 position-relative">
      <a
        class="usa-link text-no-underline"
        href="{{ post.url | url }}"
        >{{ post.data.title }}</a
      >
    </h2>

    <ul class="postpreview__meta usa-list--unstyled" aria-label="More information">
      <li class="postpreview__meta-item postpreview__author text-primary-darker">
        By <span class="text-semibold"> {{ post.data.author }} </span>
      </li>
      <li 
      class="postpreview__meta-item postpreview__date 
            text-base-dark text-uppercase font-sans-2xs"
       >
        <time datetime="{{ post.date | date: '%Y-%m-%dT12:00:00+01:00' }}">
          {{ post.date | date: '%B %d, %Y' }}
        </time>
      </li>

    <div class="postpreview__meta postpreview__tags margin-top-1">
    {% for tag in post.data.tags %}
       {% if tag=='posts' %} {% continue %} {% endif %}
       {% assign tagSlug = tag | downcase | slugify %}
       {% assign tagURL = '/blog/tag/' | append: tagSlug %}
       <a class="text-no-underline" href="{{ tagURL | url }}">
         <span class="usa-tag text-no-uppercase bg-primary white-space--nowrap">
           {{tag}}
         </span>
       </a>
    {% endfor %}
    </div>
    
    <p class="postpreview__description">
      {% if post.data.excerpt %} 
        {{ post.data.excerpt }} 
      {% else %}
        {{ post.templateContent | truncatewords: 10 }}
      {% endif %}
      
    </p>
  </div>
</li>
