{% comment %}
Domain availability search. Informs user if an inputted domain name
is available as a .gov domain.
{% endcomment %}

<section class="usa-section domain-section padding-bottom-5 bg-accent-cool-lighter">
    <div class="grid-container">
        <div class="domain-section__image">
            <h2 class="margin-top-0 margin-bottom-2">
                Start your .gov domain search
            </h2>
            <h3 class="domain-section__subtitle
            line-height-heading-3
            margin-top-0 margin-bottom-3
            text-normal"
            id="domain-availability-description"
            >
                See if the .gov domain you want is available. We'll work with you
                to find the best domain for your organization that meets our requirements.
                <a href="{{ '/domains/choosing/' | url }}" class="usa-link">
                    Read more about choosing your .gov domain.
                </a>
                <span class="usa-sr-only">Do not include .gov in your search.</span>
            </h3>
            {% include "domain-availability/domain-availability-search-input.html" %}
            <form class="usa-search usa-search--domain" role="search">
                <label class="usa-sr-only" for="domain-input">Search</label>
                <div class="usa-search--domain__form-group">
                    <input 
                        class="usa-input usagov-search-autocomplete" 
                        id="domain-input"
                        type="search" 
                        name="query" 
                        autocomplete="off"
                        aria-label="Start your .gov domain search"
                        aria-describedby="domain-availability-description"
                    >
                    <span class="usa-search__submit-text">.gov</span>
                </div>
            </form>
            <button 
                class="usa-button usa-search--domain__submit" 
                type="submit"
                onclick="checkDomainAvailability()"
                onsubmit="return false"
                aria-label="Start your .gov domain search"
                title="Check Domain Availability"
            >
                Check availability
            </button>
            <div class="usa-search--domain_message" id="usa-search--domain_message"></div>
        </div>
    </div>
</section>
