{% comment %}
TODO: Domain search description
{% endcomment %}

<script>
    const baseUrl = "https://getgov-es.app.cloud.gov/api/v1/available/"

    var urlParams = new URLSearchParams(window.location.search);
    var query = urlParams.get('query')
    var searchEndpoint = new URL(query, baseUrl);

    fetch(searchEndpoint).then(function(reply) {
        console.log("search endpoint: ", searchEndpoint)
        return reply.json()
    }).then(function(response) {
        console.log("available: ", response)
        if (response.available == None) {

        } 
        else if (response.available) {

        } 
        else {

        }
    }).catch(function(ex) {
      console.log('parsing failed', ex);
    })
</script>

<section class="hero padding-top-5 padding-bottom-5 bg-accent-cool-lighter">
    <div class="grid-container">
        <!-- TODO: replace hero-image class with svg of updated domain search graphic -->
        <div class="domain-search-image padding-top-2 padding-bottom-2">
            <h2>
                Start your .gov domain search
            </h2>
            <h3 class="domain-search-heading
            line-height-heading-3
            margin-top-0 margin-bottom-2
            text-normal"
            >
                See if the .gov domain you want is available. We'll work with you
                to find the best domain for your organization that meets our requirements.
                <br>
                <a href="{{ '/domains/choosing/' | url }}" class="usa-link">
                    Read more about choosing your .gov domain.
                </a>
            </h3>
            <form class="usa-search usa-search--big domain-search">
                <div role="search">
                    <label class="usa-sr-only" for="search-field-en-big">Search</label>
                    <input 
                        class="usa-input usagov-search-autocomplete grid-col-3" 
                        id="extended-search-field-small"
                        type="search" 
                        name="query" 
                        autocomplete="off"
                    >
                        <span class="usa-search__submit-text">.gov</span>
                        <button class="usa-button availability-button">
                            Check Availability
                        </button>
                </div>

            </form>
        </div>
    </div>
</section>