<div
    class="usa-alert usa-alert--info usa-alert--info--variant padding-y-3 usa-alert--no-icon"
    >
    <div class="usa-alert__body">
      <h2 class="usa-alert__heading font-sans-xl">
        Featured .gov
      </h2>
      <h4 class="font-heading-lg text-semibold margin-top-205 margin-bottom-205">
        <a class="usa-link usa-link--external" rel="noopener noreferrer" href="https://read.gov/">Read.gov</a>
      </h4>
      <p>Managed by the Library of Congress, Read.gov invites all people to discover the fascinating ideas, places, and events that await you within each book.</p>
      <p><a class="usa-link" href="{{ '/about/data' | url }}">Explore .gov data</a></p>  
    </div>
</div>
