<div
    class="usa-summary-box"
    role="region"
    aria-labelledby="summary-box-key-information"
    >
    <div class="usa-summary-box__body">
      <h3 class="usa-summary-box__heading" id="summary-box-key-information">
        Featured .gov
      </h3>
  <div class="usa-summary-box__text">
    <h3><a class="usa-link" href="volunteer.gov">Volunteer.gov</a></h3>
    <ul class="usa-list usa-list--unstyled">
      <li><a class="usa-link" href="volunteer.gov">Find volunteer opportunities around the US</a></li>
      <li><a class="usa-link" href="/data">Explore more .gov sites</a></li>
    </ul>
  </div>
    </div>
</div>
