<div
    class="usa-summary-box margin-top-3 tablet:margin-top-1"
    role="region"
    aria-labelledby="summary-box-key-information"
    >
    <div class="usa-summary-box__body">
      <h3 class="usa-summary-box__heading" id="summary-box-key-information">
        Featured .gov
      </h3>
  <div class="usa-summary-box__text">
    <h4 class="font-heading-lg text-semibold margin-top-205 margin-bottom-205">
      <a class="usa-link" href="data.gov">Data.gov</a>
        <li>Data.gov is the federal government's open data site, and aims to make the government more open, accountable, and transparent while increasing civic engagement.</li>
    </h4>
    <ul class="usa-list usa-list--unstyled">
      <li><a class="usa-link" href="/data">Explore more .gov sites</a></li>
    </ul>
  </div>
    </div>
</div>
