{% comment %}
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}

<section class="hero">
  <div class="grid-container">
    <div class="hero-image">
      <h1 class="hero-heading hero-heading__callout">
        It should be easy to identify governments on the internet.
      </h1>
      <h2 class="hero-heading hero-heading__content">.gov is the top-level domain for U.S.-based government organizations.</h2>
    
      <a class="usa-button" href="/get-gov">Get a .gov</a>
      <a class="usa-button usa-button--outline" href="https://getgov-staging.app.cloud.gov/register">Manage your domain</a>
    </div>
  </div>
</section>
