{% comment %}
Use this section to highlight key elements of your site. Some
sites will only have two while others may have six to eight.
{% endcomment %}


<section class="usa-graphic-list usa-section usa-section--dark">
  <div class="grid-container">
    <h1>Benefits of .gov</h1>
    <div class="usa-graphic-list__row grid-row grid-gap">
        <div class="usa-media-block tablet:grid-col">
          {% image_with_class  "./_img/dotgov_benefit_secure.svg" "usa-media-block__img" "alt text" %}
          <div class="usa-media-block__body">
            <p>
              Helps the public identify official, trusted information
            </p>
          </div>
        </div>
        <div class="usa-media-block tablet:grid-col">
          {% image_with_class  "./_img/dotgov_benefit_eligible.svg" "usa-media-block__img" "alt text" %}
          <div class="usa-media-block__body">
            <p>
              Governments at all levels are eligible for .gov domains (cities, counties, and more)
            </p>
          </div>
        </div>
        <div class="usa-media-block tablet:grid-col">
          {% image_with_class  "./_img/dotgov_benefit_free.svg" "usa-media-block__img" "alt text" %}
          <div class="usa-media-block__body">
            <p>
              They're free!
            </p>
          </div>
        </div>
    </div>
    <hr></hr>
    <h1>Learn about .gov domains</h1>
    <div class="learn">
      <div class="grid-row grid-gap">
        <div class="tablet:grid-col">
          <ul class="usa-icon-list usa-icon-list--primary">
            <li class="usa-icon-list__item">
              <div class="usa-icon-list__icon">
                {% uswds_icon "account_balance" %}
              </div>
              <div class="usa-icon-list__content">
                <a href="" class="usa-identifier__required-link usa-link"
                >Who is eligible for a .gov domain</a>
              </div>
            </li>
            <li class="usa-icon-list__item">
              <div class="usa-icon-list__icon">
                {% uswds_icon "star" %}
              </div>
              <div class="usa-icon-list__content">
                <a href="" class="usa-identifier__required-link usa-link"
                >Benefits of .gov</a>
              </div>
            </li>
            <li class="usa-icon-list__item">
              <div class="usa-icon-list__icon">
                {% uswds_icon "list" %}
              </div>
              <div class="usa-icon-list__content">
                <a href="" class="usa-identifier__required-link usa-link"
                >Requirements for operating a .gov domain</a>
              </div>
            </li>
            <li class="usa-icon-list__item">
              <div class="usa-icon-list__icon">
                {% uswds_icon "check_circle" %}
              </div>
              <div class="usa-icon-list__content">
                <a href="" class="usa-identifier__required-link usa-link"
                >Steps to take before you request a .gov domain</a>
              </div>
            </li>
            <li class="usa-icon-list__item">
              <div class="usa-icon-list__icon">
                {% uswds_icon "groups" %}
              </div>
              <div class="usa-icon-list__content">
                <a href="" class="usa-identifier__required-link usa-link"
                >.gov domains for election offices</a>
              </div>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="usa-graphic-list usa-section">
  <div class="grid-container">
    <div class="grid-row">
      <div class="tablet:grid-col">
        <h2>News</h2>
        <ul class="usa-list">
          {% for post in posts limit:2 %}
          <li>
            <a class="usa-link" href="{{post.url}}"
            >{{ post.data.title }}</a>
          </li>
          <li class="usa-collection__meta-item">
            <time datetime="{{ post.date | date: '%Y-%m-%dT12:00:00+01:00' }}">
              {{ post.date | date: '%m/%d/%y' }}
            </time>
          </li>
          {% endfor %}
        </ul>
        <a class="usa-link" href="/blog">More blog posts</a>
      </div>
      <div class="tablet:grid-col">
        <div
          class="usa-summary-box"
          role="region"
          aria-labelledby="summary-box-key-information"
        >
          <div class="usa-summary-box__body">
            <h3 class="usa-summary-box__heading" id="summary-box-key-information">
              Featured .gov
            </h3>
            <div class="usa-summary-box__text">
              <h3><a class="usa-link" href="volunteer.gov">Volunteer.gov</a></h3>
              <ul class="usa-list usa-list--unstyled">
                <li><a class="usa-link" href="volunteer.gov">Find volunteer opportunities around the US</a></li>
                <li><a class="usa-link" href="/data">Explore more .gov sites</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>

