<section class="usa-section highlights highlight__learn bg-primary-lightest">
    <div class="grid-container">
      <h2 class="margin-top-0 margin-bottom-3">Learn about .gov domains</h2>
      <div class="grid-row grid-gap">
        <div class="tablet:grid-col-3 
                    tablet:display-block">
          {% image "./_img/dotgov_internet.svg" "" %}
        </div>
        <div class="tablet:grid-col">
          <ul class="usa-icon-list usa-icon-list--primary">
            <li class="usa-icon-list__item">
              <div class="usa-icon-list__icon">
                {% uswds_icon "account_balance" %}
              </div>
              <div class="usa-icon-list__content">
                <a href="{{ '/domains/eligibility' | url }}" class="usa-link highlight__learn__link" >
                  Who is eligible for a .gov domain
                </a>
              </div>
            </li>
            <li class="usa-icon-list__item">
              <div class="usa-icon-list__icon">
                {% uswds_icon "star" %}
              </div>
              <div class="usa-icon-list__content">
                <a href="{{ '/domains/benefits' | url }}" class="usa-link highlight__learn__link">
                  Benefits of .gov
                </a>
              </div>
            </li>
            <li class="usa-icon-list__item">
              <div class="usa-icon-list__icon">
                {% uswds_icon "list" %}
              </div>
              <div class="usa-icon-list__content">
                <a href="{{ '/domains/moving' | url }}" class="usa-link highlight__learn__link">
                  Moving to .gov from another domain
                </a>
              </div>
            </li>
            <li class="usa-icon-list__item">
              <div class="usa-icon-list__icon">
                {% uswds_icon "check_circle" %}
              </div>
              <div class="usa-icon-list__content">
                <a href="{{ '/domains/before' | url }}" class="usa-link highlight__learn__link">
                  Steps to take before you request a .gov domain
                </a>
              </div>
            </li>
            <li class="usa-icon-list__item">
              <div class="usa-icon-list__icon">
                {% uswds_icon "groups" %}
              </div>
              <div class="usa-icon-list__content">
                <a href="{{ '/domains/election-offices' | url }}" class="usa-link highlight__learn__link">
                  .Gov domains for election offices
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
