<section aria-label="Site alert" class="usa-site-alert usa-site-alert--emergency">
  <div class="grid-container padding-0">
    <div class="usa-alert">
      <div class="usa-alert__body">
        <h3 class="usa-alert__heading text-white">
          Service disruption
        </h3>
        <p class="usa-alert__text">
          Feb 28, 01:40 UTC: We're investigating a service disruption on the .gov registrar. The .gov zone and individual domains remain online. However, the registrar is running slower than usual.
        </p>
      </div>
    </div>
  </div>
</section>

