{% comment %}
You shouldn't have to edit this page very often. But if you want
to modify some of the meta-data for the site, this is the place to do it.
{% endcomment %}

<head>
  <!-- Basic Page Needs
    ================================================== -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  
  <!-- Mobile Specific Metas
    ================================================== -->
  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Title and meta description
    ================================================== -->
  <title>{{ title }}  |  {{site.title}}</title>
  <meta property="og:title" content="{{site.title}}" />

  <!-- Custom Meta Description -->
  {% if excerpt %}
    <meta name="description" content="{{ excerpt }}" />
    <meta property="og:description" content="{{ excerpt }}" />
    <meta name="twitter:description" content="{{ excerpt }}" />
  {% else %}
    <meta name="description" content="{{site.description}}" />
    <meta property="og:description" content="{{site.description}}" />
    <meta name="twitter:description" content="{{site.description}}" />
  {% endif %}
  <!-- End Custom Meta Description -->

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@{{site.twitter}}" />
  <meta name="twitter:title" content="{{site.title}}" />

  <meta property="og:type" content="article" />
  <link rel="canonical" href="{{ page.url }}" />
  <meta property="og:url" content="{{ page.url }}" />
  <script async="" src="{{ assetPaths['uswds.js'] }} "></script>

  <!-- Favicon 
    ================================================== -->
  <link rel="icon" type="image/png" sizes="32x32" href="{{'/img/favicons/favicon-32.png' | url }}">
  <link rel="icon" type="image/png" sizes="192x192" href="{{'/img/favicons/favicon-192.png' | url }}">
  <link rel="icon" type="image/svg+xml" href="{{'/img/favicons/favicon.svg' | url }}">
  <link rel="shortcut icon" type="image/x-icon" href="{{ '/favicon.ico' | url }}" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{'/img/favicons/favicon-180.png' | url }}">
  <!-- CSS
  ================================================== -->
  <link rel="preload" as="style" href="{{ assetPaths['styles.css'] }}" />
  <link rel="stylesheet" href="{{ assetPaths['styles.css'] }}" type="text/css" />

  {% if site.ga.gtag %}
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-PZ5QSP6QPL"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{ site.ga.gtag }}');
    function checkDomainAvailability(requestedDomainId="domain-input", isDomainChoosing=false, alertId="usa-search--domain_message") {

      // Cancel the default action
      event.preventDefault();

      const baseUrl = "https://manage.get.gov/api/v1/available/?domain="

      let requested_domain = document.getElementById(requestedDomainId).value

      if (requested_domain === null || requested_domain.length === 0) {
          render_result(``)
      }

      let searchEndpoint = new URL("", baseUrl + requested_domain);
      fetch(searchEndpoint).then(function(reply) {
          return reply.json()
      }).then(function(response) {
          let requested_domain_display_string = requested_domain
              if (!requested_domain_display_string.endsWith('.gov')) {
                  requested_domain_display_string += '.gov'
              }
          
          let successMessage = `
          <div class="usa-alert usa-alert--success usa-alert--slim" role="alert">
              <div class="usa-alert__body">
                  <p class="usa-alert__text">
                      That domain is available!
                      <a class="usa-link" href="{{ '/domains/before/' | url }}">
                          Read about next steps to take before requesting your .gov domain.
                      </a>
                  </p>
              </div>
          </div>
          `

          let errorMessage = null
          if (isDomainChoosing) {
              errorMessage = document.getElementById("grid-row--domain_message-choosing");
              if (errorMessage) {
                  // Check if the 'display-none' class is not already present
                  if (!errorMessage.classList.contains("display-none")) {
                      errorMessage.classList.add("display-none");
                  }
              }

              successMessage = `
              <div class="usa-alert usa-alert--success usa-alert--slim" role="alert">
                  <div class="usa-alert__body">
                      <p class="usa-alert__text">
                          That domain is available!
                          <div class="display-inline"></div>
                          <strong>We’ll try to give you the domain you want, but it’s not guaranteed.</strong>
                          <a class="usa-link" href="{{ '/domains/before/' | url }}">
                              Read about next steps to take before requesting your .gov domain.
                          </a>
                      </p>
                  </div>
              </div>
              `
          }

          let failMessage = `
          <div class="usa-alert usa-alert--error usa-alert--slim" role="alert">
              <div class="usa-alert__body">
                  <p class="usa-alert__text">
                      ${response.message} 
                  </p>
              </div>
          </div>
          `

          if (response.available) {
              render_result(alertId, successMessage)
          } else if (isDomainChoosing && response.message.includes("That domain isn’t available.")){
              let unavailableMessage = `
              <div class="usa-alert usa-alert--error usa-alert--slim" role="alert">
                  <div class="usa-alert__body">
                    <p class="usa-alert__text">
                        That domain isn’t available. You can learn about who owns this domain using our  
                        <a class="usa-link" href="{{ '/domains/whois/' | url }}?domain=${requested_domain_display_string}">
                            Domain lookup (WHOIS) search.
                        </a> 
                      </p>
                  </div>
              </div>
              `
              render_result(alertId, unavailableMessage)
              /* TODO: Ticket #267
              <a class="usa-link" href="{{ '/domains/whois/' | url }}?domain=${requested_domain_display_string}">
                  Learn about this domain.
              </a> 
              */
          }
          else {
              render_result(alertId, failMessage)
          }

          if (isDomainChoosing && errorMessage) {
              errorMessage.classList.remove("display-none");
          }
      }).catch(function(err) {
          console.log('parsing failed', err);
      })
    }

    function render_result(elementId, content, append = false) {
        const currentHTML = document.getElementById(elementId).innerHTML
        document.getElementById(elementId).innerHTML = (append == true) ? currentHTML + content : content;
    }

    function createCard(content, title="") {
        const card = document.createElement("li");
        card.classList.add("usa-card", "grid-col-12", "whois-card");
        card.innerHTML = `
            <div class="usa-card__container">
                <div class="usa-card__header">
                    <h3>${title}</h3>
                </div>
                ${content}
            </div>
        `
        return card;
    }

  </script>

  
  {% endif %}
</head>
