<script>
    function renderRdapContacts(rdapJson = {}, searchResultsId="rdap-search-results") {
        const cardBody = document.createElement('div');
        cardBody.classList.add("usa-card__body");

        // maps RDAP contact field to readable display label
        function getContactDisplayLabel(contactDetail) {
            const contactFieldToLabel = {
                "version": "Version",
                "fn": "Name",
                "org": "Organization",
                "adr": "Address",
                "tel_voice": "Phone",
                "tel_fax": "Fax"
            }
 
            let contactField = contactDetail[0];

            if (contactField === "tel") {
                const phoneType = contactDetail[1]["type"][0];
                contactField= `${contactDetail[0]}_${phoneType}`;
            }

            return contactFieldToLabel[contactField];
        }

        // displays contact information for listed domain entities
        const rdapEntities = rdapJson["entities"];
        rdapEntities.forEach(entity => {
            const roles = entity["roles"];
            const contactDetails = entity["vcardArray"][1];
            roles.forEach(contact => {
                let roleBody = document.createElement('div');
                roleBody.classList.add("usa-card__body");
                roleBody.innerHTML = 
                `
                    <h3>${contact.charAt(0).toUpperCase() + contact.slice(1)}</h3>
                `

                contactDetails.forEach(contactDetail => {
                    let contactElement = document.createElement('div');
                    contactElement.innerHTML = 
                    `
                        <div class="usa-card--details-body">
                            <b>${getContactDisplayLabel(contactDetail)}:</b> ${contactDetail[3]}
                        <div>
                    `
                    roleBody.appendChild(contactElement)
                })
                cardBody.appendChild(roleBody);
            })
        })
        return createCard(cardBody.innerHTML, "Contact Information");
    }

    function renderRdapStatuses(statuses=[], searchResultsId="rdap-search-results") {
        const cardBody = `
            <div class="usa-card__body">
                ${statuses.join("\n")}
            </div>
        `
        return createCard(cardBody, "Statuses");
    }

    function renderRdapEvents(events=[], searchResultsId="rdap-search-results") {
        const cardBody = `
            <div class="usa-card__body">
                ${events.map(event => `<p>${event["eventAction"]}: ${event["eventDate"]}</p>`).join("")}
            </div>
        `
        return createCard(cardBody, "Events");
    }

    function renderRdapNameservers(nameservers=[], searchResultsId="rdap-search-results") {
        const cardBody = `
            <div class="usa-card__body">
                ${nameservers.map(nameserver => `
                    <div>
                        <h3>${nameserver.ldhName}</h3>
                        <div class="usa-card--details-body">Handle: ${nameserver["handle"]}</div>
                    </div>
                `).join("")}
            </div>
        `
        return createCard(cardBody, "Nameservers");
    }

    function renderRdapNotices(notices=[], searchResultsId="rdap-search-results") {
        const cardBody = `
            <div class="usa-card__body">
                ${notices.map(notice => `
                    <div>
                        <h3>${notice.title}</h3>
                        <p class="usa-card--details-body">${notice.description.join(" ")}</p>
                    </div>
                `).join("")}
            </div>
        `
        return createCard(cardBody, "Notices");
    }

    function searchRdapData(searchId="rdap-lookup", searchResultsId="rdap-search-results") {
        event.preventDefault();

        const whoisServer = 'whois.dotgov.gov';
        const rdapBaseUrl = 'https://rdap.cloudflareregistry.com/rdap/domain/';

        let domain = document.getElementById(searchId).value

        if (domain === null || domain.length === 0) {
            render_result(searchResultsId, ``);
            return;
        }

        if (!domain.endsWith('.gov')) {
            let errorMessage = `
                <div class="usa-alert usa-alert--error usa-alert--slim">
                    <div class="usa-alert__body">
                        <p class="usa-alert__text">
                            You can only search domain names that end in .gov
                        </p>
                    </div>
                </div>
            `
            render_result(searchResultsId, errorMessage, append=false);
            return;
        }

        let rdapSearchEndpoint = new URL("", rdapBaseUrl + domain);
        fetch(rdapSearchEndpoint).then(function(reply) {
            return reply.json()
        }).then(function(response) {
            if (response.errorCode) {
                let errorMessage = ``
                if (response.errorCode == 404) {
                    errorMessage = `
                        <div class="usa-alert usa-alert--info usa-alert--slim">
                            <div class="usa-alert__body">
                                <p class="usa-alert__text">
                                    <b>${domain}</b> isn't a registered domain.
                                </p>
                            </div>
                        </div>
                    `
                } else {
                    errorMessage = `
                        <div class="usa-alert usa-alert--info usa-alert--slim">
                            <div class="usa-alert__body">
                                <p class="usa-alert__text">
                                    Error looking up RDAP: ${response.description.join(" ")}
                                </p>
                            </div>
                        </div>
                    `
                }
                
                render_result(searchResultsId, errorMessage, append=false);
                return;
            }
            const rdapSearchResults = document.createElement('div');
            rdapSearchResults.classList.add("usa-card-group");
            rdapSearchResults.appendChild(renderRdapContacts(response));
            rdapSearchResults.appendChild(renderRdapStatuses(response["status"]));
            rdapSearchResults.appendChild(renderRdapEvents(response["events"]));
            rdapSearchResults.appendChild(renderRdapNameservers(response["nameservers"]));
            rdapSearchResults.appendChild(renderRdapNotices(response["notices"]));

            const rdapSearchWrapper = document.createElement('div');
            rdapSearchWrapper.appendChild(rdapSearchResults);
            render_result(searchResultsId, rdapSearchWrapper.innerHTML, append=false)
        })
    }
    
</script>
<form class="usa-search usa-search--domain rdap-lookup" role="search">
        <label class="usa-sr-only" for="domain-input-choosing">Search</label>
        <div class="usa-search--domain__form-group">
            <input
            id="whois-lookup-input" 
            class="usa-input" 
            type="search" 
            aria-label="Check Domain Name input"
            title="Check Domain input"
            />
            <span class="usa-search__submit-text">.gov</span>
            <button 
            class="usa-button usa-search--domain__submit" 
            type="submit"
            onclick="searchRdapData('whois-lookup-input')"
            onsubmit="return false"
            aria-label="Check availability of Domain Name"
            title="Check Domain Availability"
            >
                Search
        </button>
        </div>
</form>
<div id="rdap-search-results" class="grid-row margin-top-2"></div>
