---
layout: layouts/wide
title: Blog
---
<section class="page-header bg-primary-lightest">
  <div class="grid-container padding-4">
    <div class="grid-row flex-align-center">

      {% if banner_img %}
        <div class="grid-col-auto">
          <img
            src="{{ banner_img | url }}"
            alt="{{ banner_img_alt | default: '' }}"
            class="banner-img margin-right-1"
          />
        </div>
      {% endif %}

      <div class="grid-col">
        <h1 class="margin-0">Blog</h1>
        {% if subtitle %}
          <p class="subtitle font-body-md margin-top-05 margin-bottom-0">{{ subtitle }}</p>
        {% endif %}
      </div>

    </div>
  </div>
</section>

<div class="grid-container">
  <div class="grid-row">
    <div class="tablet:grid-col-7 usa-prose padding-right-4">
      <!-- This loops through the paginated posts -->
      <ul class="usa-list usa-list--unstyled">
      {% if tag %}
        {% assign taglist = collections[tag] %}
        {% for post in taglist reversed %}
          {% include "collection-item.html" post: post %}
        {% endfor %}

      {% else %}
        {% for post in posts %}
          {% include "collection-item.html" post: post %}
        {% endfor %}
      {% include "pagination-links.html" %}

      {% endif %}

      </ul>
    </div>

    <article aria-label="Blog description and cateogry tags" 
             class="tablet:grid-offset-1 tablet:grid-col-fill 
                    margin-top-4 padding-right-4 
                    usa-prose"
    >
<!--
      <div>
        <h2 class="margin-top-0 margin-bottom-1 h3">
          Subscribe
        </h2>
        <label 
          class="usa-label margin-top-1" 
          for="subscribe__email"
        > Enter your email
        </label>
        <input class="usa-input" 
          id="subscribe__email" 
          name="subscribe__email"
          type="email"
        />
        <button class="margin-top-105 usa-button" value="Submit">Subscribe </button>
      </div>
  -->

      <div class="tags-list bg-primary-lightest margin-top-4 padding-2"> 
        <h2 class="margin-top-0 margin-bottom-2 h3">
          View posts by topic
        </h2>
        <ul class="usa-list usa-list--unstyled">
         {% assign tagNames = collections.blogTags | sort %}
         {% for tagName in tagNames %}
         <li>
           {% assign tagSlug = tagName | downcase | slugify %}
           {% assign tagURL = '/blog/tag/' | append: tagSlug %}
           <a class="usa-link" href="{{ tagURL | url }}" > 
             {{ tagName }} ({{ collections[tagName].length }})
           </a> 
         </li>
         {% endfor %}
        </ul>
      </div>
    </article>
  </div>
</div>
