---
layout: layouts/wide
title: Blog
---
<section class="page-header bg-primary-lightest"> 
  <div class="grid-container padding-4">
    <div class="grid-row">
      <div class="grid-col">
        <h1> Blog </h1>
        <p class="subtitle font-body-md"> {{ subtitle }} </p>
      </div>
   </div>
  </div>
</section>

<div class="grid-container">
  <div class="grid-row">
    <div class="tablet:grid-col-7 usa-prose padding-right-4">
      <!-- This loops through the paginated posts -->
      <ul class="usa-list usa-list--unstyled">
      {% if tag %}
        {% assign taglist = collections[tag] %}
        {% for post in taglist reversed %}
          {% include "collection-item.html" post: post %}
        {% endfor %}

      {% else %}
        {% for post in posts %}
          {% include "collection-item.html" post: post %}
        {% endfor %}
      {% include "pagination-links.html" %}

      {% endif %}

      </ul>
    </div>

    <article aria-label="Blog description and cateogry tags" 
             class="tablet:grid-offset-1 tablet:grid-col-fill 
                    margin-top-4 padding-right-4 
                    usa-prose"
    >
<!--
      <div> 
        <h3 class="heading--sm margin-top-0 margin-bottom-1">
          About the .gov blog
        </h3>
        <p> This blog is super-cool and you should read it </p>
      </div>
-->

      <div>
        <h3 class="heading--sm margin-top-0 margin-bottom-1">
          Subscribe
        </h3>
        <label 
          class="usa-label margin-top-1" 
          for="subscribe__email"
        > Enter your email
        </label>
        <input class="usa-input" 
          id="subscribe__email" 
          name="subscribe__email"
          type="email"
        />
        <button class="margin-top-105 usa-button" value="Submit">Subscribe </button>
      </div>

      <div class="tags-list bg-primary-lightest margin-top-4 padding-2"> 
        <h3 class="heading--sm margin-top-0 margin-bottom-1">
          View posts by category
        </h3>
        <ul class="usa-list usa-list--unstyled">
         {% for tagname in collections.blogTags reversed %}
         <li>
           {% assign tagSlug = tagname | downcase | slugify %}
           {% assign tagURL = '/blog/tag/' | append: tagSlug %}
           <a class="usa-link" href="{{ tagURL | url }}" > 
             {{ tagname }} ({{ collections[tagname].length }})
           </a> 
         </li>
         {% endfor %}
        </ul>
      </div>
    </article>
  </div>
</div>
