---
layout: layouts/base
---

{% comment %}
This template is for longer information pages
{% endcomment %}

<div class="usa-layout-docs" >
  {% assign show_page_header = show_page_header | default: false %}
  {% if show_page_header %}
  <section class="page-header bg-primary-lightest">
    <div class="grid-container padding-4">
      <div class="grid-row flex-align-center">
        {% if banner_img %}
          <div class="grid-col-auto">
            {% image_with_class banner_img "banner-img" "" "" %}
          </div>
        {% endif %}

        <div class="grid-col">
                <h1 class="">{{ title }}</h1>
        </div>
      </div>
    </div>
  </section>
  {% endif %}

    <div class="grid-container margin-top-5">
        <div class="grid-row grid-gap">
            {% if sidenav == true %}
                {% assign collection = collections[tags] %}
                {% include "sidenav.html" with collection %}
            {% endif %}
            <main id="main-content"class="usa-layout-docs__main desktop:grid-col-9 usa-prose margin-top-neg-1">
                <h1 class="margin-bottom-1">{{- title -}} </h1>
                {{ content }}
            </main>
        </div>
    </div>
</div>
