---
layout: layouts/base
---

{% comment %}
This template is for longer information pages
{% endcomment %}


{% comment %}
Insert custom scripts for all info-pages here
{% endcomment %}
<script>
    function checkDomainAvailability() {
        // Cancel the default action
        event.preventDefault();
        
        const baseUrl = "https://manage.get.gov/api/v1/available/?domain="

        var requested_domain = document.getElementById('domain-input').value

        if (requested_domain === null || requested_domain.length === 0) {
            render_result(``)
        }

        var searchEndpoint = new URL("", baseUrl + requested_domain);
        
        fetch(searchEndpoint).then(function(reply) {
            return reply.json()
        }).then(function(response) {
            var requested_domain_display_string = requested_domain
                if (!requested_domain_display_string.endsWith('.gov')) {
                    requested_domain_display_string += '.gov'
                }
            if (response.available) {
                render_result(`
                <div class="usa-alert usa-alert--success usa-alert--slim" role="alert">
                    <div class="usa-alert__body">
                        <p class="usa-alert__text">
                            That domain is available!
                            <br>
                            <strong>We’ll try to give you the domain you want, but it's not guaranteed.</strong>
                            <a class="usa-link" href="{{ '/domains/before/' | url }}">
                                Read about next steps to take before requesting your .gov domain.
                            </a>
                        </p>
                    </div>
                </div>
                `
                )
            }
            /* TODO: Ticket #267 
            else if (response.message.includes("That domain isn’t available.")) {
                render_result(`
                <div class="usa-alert usa-alert--error usa-alert--slim" role="alert">
                    <div class="usa-alert__body">
                        <p class="usa-alert__text">
                            That domain isn’t available.
                            <a class="usa-link" href="{{ '/domains/whois/' | url }}?domain=${requested_domain_display_string}">
                                Learn about this domain.
                            </a>
                        </p>
                    </div>
                </div>
                `
                )
            }*/
            else {
                render_result(`
                <div class="usa-alert usa-alert--error usa-alert--slim" role="alert">
                    <div class="usa-alert__body">
                        <p class="usa-alert__text">
                            ${response.message}
                        </p>
                    </div>
                </div>
                `
                )
            }
        }).catch(function(err) {
            console.log('parsing failed', err);
        })
    }

 function render_result(content, append = true){
 document.getElementById('usa-search--domain_message').innerHTML = (append == true) ? content : `<div></div>`;
 }
</script>

<div class="usa-layout-docs" >
    <div class="grid-container margin-top-5">
        <div class="grid-row grid-gap">
            {% if sidenav == true %}
                {% assign collection = collections[tags] %}
                {% include "sidenav.html" with collection %}
            {% endif %}
            <main id="main-content"class="usa-layout-docs__main desktop:grid-col-9 usa-prose margin-top-neg-1">
                <h1>{{- title -}} </h1>
                {{ content }}
            </main>
        </div>
    </div>
</div>
