---
layout: layouts/base
---

{% comment %}
This template is for landing pages
{% endcomment %}

<div class="usa-layout-docs" >
    <section class="page-header bg-primary-lightest padding-3"> 
      <div class="grid-container">
        <h1 class=""> {{title}} </h1>
      </div>
    </section>
  <div class="grid-container margin-top-5">
    <div class="grid-row grid-gap">
      {% if sidenav == true %}
      {% assign collection = collections[tags] %}
      {% include "sidenav.html" with collection %}
      {% endif %}
      <main id="main-content"class="usa-layout-docs__main desktop:grid-col-9 usa-prose margin-top-neg-1">
        {{ content }}
        <section class="landing__index"> 
          <ul class="grid-row grid-gap">
          {%- for item in collections[tags] -%}
            <li class="tablet:grid-col-6 padding-left-0">
              <div class="border-1px radius-md border-primary-light padding-105"> 
                <h3 class="margin-bottom-1 margin-top-0">
                  <a href= {{ item.url }}> {{ item.data.title }}</a>
                </h3>
                {% if item.data.excerpt %}
                  <p class="margin-top-0 margin-bottom-1"> {{- item.data.excerpt -}} </p>
                {% endif %}
                </div>
            </li>
          {%- endfor -%}
          </ul>
        <section>
      </main>
    </div>
  </div>
</div>
