---
layout: layouts/default
---

{% comment %}
This is used in blog/news posts. The index page can be found at blog/index.html
{% endcomment %}

<div class="usa-layout-docs usa-section">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="post__back tablet:grid-col-2 margin-bottom-2"> 
        <a href="/blog/" class="display-flex flex-align-center usa-link"> 
          {% uswds_icon 'arrow_back' %} <span class="margin-left-05"> Back to blog </span></a>
      </div>
      <div class="usa-layout-docs__main tablet:grid-col-8 margin-top-neg-05 usa-prose">
        <h1 class="post__title margin-top-neg-2">{{title}}</h1>
        <div class="text-base-dark margin-bottom-3 margin-top-105">
          <div class="post__author">
            By <span class="text-semibold text-primary-darker">{{ author }}</span> 
          </div>
          <div class="post__date text-uppercase font-sans-2xs">
            {{ date | date: '%B %d, %Y' }}
          </div>

          {% # All news/blog posts have 'posts' as a tag, so want to include a 
             # tag section only for those that have more than 1 tag. %}
          {% if tags.length > 1 %}
          <div class="post__tags margin-top-1">
            {% for tag in tags %}
              {% if tag=='posts' %} {% continue %} {% endif %}
              {% assign tagSlug = tag | downcase | slugify %}
              {% assign tagURL = '/blog/tag/' | append: tagSlug %}
              <a class="text-no-underline" href="{{ tagURL | url }} ">
                <span class="usa-tag text-no-uppercase bg-primary">{{tag}}</span>
              </a>
            {% endfor %}
          </div>
          {% endif %}

        </div>
        {{ content }}
      </div>
    </div>
  </div>
</div>

{% assign previousPost = collections.posts | getPreviousCollectionItem: page %}
{% assign nextPost = collections.posts | getNextCollectionItem: page %}

<div class="related-posts grid-container"> 
  <div class="grid-row">
    <div class="tablet:grid-offset-2 tablet:grid-col-8">
      <div class="related-posts__divider border-top-1px border-base-lighter"></div>
    </div>
  </div>

  <div class="grid-row grid-gap">

  {% if previousPost %} 
    <div class="grid-col tablet:grid-offset-2 tablet:grid-col-4">
    <a href="{{ previousPost.url | url }}" class="text-no-underline">
      <div class="related-posts__previous"> 
          <p class="related-posts__direction 
                    display-flex flex-align-center
                    margin-top-1 margin-left-neg-05 margin-bottom-1
                    text-primary margin-bottom-1
                    "
          > 
          <span class="padding-top-05">{% uswds_icon 'navigate_before' %}</span> Previous post
        </p>
        <span class="related-posts__title 
                   margin-top-05 margin-bottom-0
                   text-primary-darker text-bold"
        >
          {{ previousPost.data.title }}
      </span>
      </div>
    </a>
    </div>
  {% endif %}

  {% if nextPost %} 
    <div class="grid-col tablet:grid-col-4 text-right 
                {% unless previousPost %} 
                tablet:grid-offset-6 
                {% endunless %}
               "
    >
      <a href="{{ nextPost.url | url }}" class="text-no-underline">
        <div class="related-posts__previous"> 
          
          <p class="related-posts__direction 
                    display-flex flex-justify-end flex-align-center
                    margin-top-1 margin-right-neg-05 margin-bottom-1
                    text-primary 
                    "
          > 
          Next post <span class="padding-top-05"> {% uswds_icon 'navigate_next' %} </span>
          </p>

          <span class="related-posts__title 
                     margin-top-05 margin-bottom-0
                     text-primary-darker text-bold"
          >
            {{ nextPost.data.title }}
        </span>
        </div>
      </a>
    </div>
  {% endif %}
  </div>

  <div class="grid-row margin-top-5"> 
    <div class="grid-col tablet:grid-offset-2 tablet:grid-col-8">
      {% include "subscribe-box.html" %}
    </div>
  </div>

</div>

