/*---------------------------------------------------------
------------ Custom styles for Get.gov --------------------
----------------------------------------------------------*/

$nav-search-min-width: 280px; 

@use 'uswds-core' as * ;

/*---------------------------------------------------------
UTILITIES
----------------------------------------------------------*/
.bg-primary-lightest {
  background-color: color('primary-lightest');
}

.bg-accent-cool-lighter {
  background-color: color('accent-cool-lighter');
}

.white-space--nowrap {
  white-space: nowrap;
}

/*---------------------------------------------------------
SITEWIDE
----------------------------------------------------------*/
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// sections
.usa-section {
  padding-top: units(4);
  padding-bottom: units(4); 
}

// Temporary styling for undetermined links
a[href="#"] {
  color: color('blue-80v') !important;
  background-color: color('gold-10v') !important; 
  padding: 0 units(0.5);

  &:after  {
    content: ' [link TBD]';
  }
}

/*---------------------------------------------------------
TYPOGRAPHY
----------------------------------------------------------*/
h1 {
 color: color('primary-darker');
}

h2, .usa-prose h2 {
  color: color('primary-darker');
  font-weight: font-weight('semibold');
  line-height: line-height('heading', 3);
}

.usa-section h2 {
  margin-top: 0;
  margin-bottom: units(3);
}

.usa-section--dark h2 {
  color: color('white');
}

h3 {
  color: color('primary-dark');
  font-size: size('sans', 'lg');
  font-weight: font-weight('semibold');
}

// Overrides for the default usa-prose styles
.usa-prose {
  h1 {
    margin-bottom: units(1);
  }

  h2 {
    max-width: measure(1);
    margin-top: units(4);
    margin-bottom: 0;
  }

  > h2:first-child, 
  .postpreview__body h2 {
    margin-top: 0;
  }

  > h3 {
    font-size: size('sans', 'md');
    margin-top: units(3);
    margin-bottom: 0;
  }

  h2 + h3 {
    margin-top: units(2);
  }
  
  > h4 {
    font-size: size('sans', 'sm');
    margin-top: units(2.5);
  }

  p {
    margin-top: units(1);
    margin-bottom: units(2);
  }

  h1 + p {
    margin-top: units(3);
  }

  a {
    color: color('primary');

    &:hover, 
    &:focus {
      color: color('primary-darker');
    }
  }

  .usa-link--external {
    display: initial;
  }
}


/*---------------------------------------------------------
HEADER
----------------------------------------------------------*/

.usa-logo a {
  color: color('primary-darkest');
}

.usa-nav__inner .usa-search button {
  background-color: color('primary');
}

.usa-nav__inner #search_form {
  @include at-media(desktop) {
    min-width: $nav-search-min-width;
  }
}

.usa-header + .usa-layout-docs {
  border-top: 1px solid color('base-lighter');
}

/*---------------------------------------------------------
FOOTER
----------------------------------------------------------*/
.usa-footer__secondary-section {
  background-color: color('primary-lightest');
  margin-top: units(6);

  a {
    color: color('primary');
  }

  @include at-media(tablet) {
    // workaround, as there is no uswds units(12)
    margin-top: units(6) * 2; 
  }

  .usa-footer__logo-img {
    max-width: units(9);
  }
}


.usa-footer__logo-img {
  max-width: units(7);
}

/*---------------------------------------------------------
HOME 
----------------------------------------------------------*/

// ## HERO ------------------------------------------------
.hero {
  //hide image on smallest screens, show on large mobile and up
  .hero-image {
    @include at-media(mobile-lg) {
      background-image: url('../_img/dotgov_hero.svg');
      background-position: 100% 30%;
      background-size: 40%;
      background-repeat: no-repeat;
    }

    @include at-media(tablet) {
      background-position: center right;
      background-size: auto;
    }
  }
}

.hero-heading {
  @include at-media(mobile-lg) {
    max-width: 60%;
  }
}

// ## DOMAIN SEARCH ---------------------------------------
.availability-button {
  margin-left: units(2);
}

.domain-search span {
  display: flex;
  background-color: #AFD5E6;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid #565c65;
  border-left: none;
  align-items: center;
  color: color('primary-darker');
  font-weight: bold;
}

.domain-search-heading {
  @include at-media(mobile-lg) {
    max-width: 60%;
  }
  font-size: 1rem;
.domain-search-image {
  @include at-media(mobile-lg) {
    background-image: url('../_img/dotgov_availability.svg');
    background-position: 100% 30%;
    background-size: 40%;
    background-repeat: no-repeat;
  }

  @include at-media(tablet) {
    background-position: center right;
    background-size: auto;
  }
}

// ## HIGHLIGHTS ------------------------------------------
.highlight__benefits {
  .usa-graphic-list__row .usa-media-block {
    margin-bottom: units(2);
  }

  .usa-graphic-list__row .usa-media-block__img {
    margin-right: units(1.5);
  }
}

.highlight__benefits {
  @include at-media(tablet-lg) {
    background-image: url('../_img/dotgov_benefit_goverse.svg');
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: contain;
  }
}

// ### LEARN ABOUT 
.highlight__learn {
  .usa-icon-list__icon {
    color: color('accent-cool-light');
    margin-right: units(1);
  }
  
  .highlight__learn__link,
  .highlight__learn__link:visited,{
    color: color('primary');
  }

  .highlight__learn__link:focus,
  .highlight__learn__link:hover {
    color: color('primary-darker');
  }
}


// ## NEWS ----------------------------------------------- 
.blog-item {
  list-style-type: none;
  position:relative; 
}

.title-bullet {
    &:before {
      background-color: color('accent-cool-light');
      border: 2px solid color('primary');
      border-radius: 50%;
      content: "";
      display: block;
      position: absolute; 
      left: -1 * units(3);
      top: units(1);
      width: units(1.5);
      height: units(1.5);
    }
}


/*---------------------------------------------------------
LANDING PAGES 
----------------------------------------------------------*/
// ## PAGE HEADER -----------------------------------------
.page-header {
  background-image: url('../_img/dotgov_dotgrid.svg');
  background-repeat: no-repeat;
  background-position: 550% top;
  background-size: 90%;

  @include at-media(tablet) {
    background-position: right;
    background-size: 60%;
  }

  @include at-media(desktop) {
    background-size: 50%;
  }
}

.landing__index ul {
  list-style: none;
  margin-top: units(5);
  padding-left: 0;

  a {
    text-decoration: none;
  }

  a:visited {
    color: color('primary');
  }

  a:hover, 
  a:focus {
    color: color('primary-darker');
  }
}

/*---------------------------------------------------------
NEWS/BLOG  
----------------------------------------------------------*/
// ## PREVIEWS ------------------------------------------
.postpreview {
  border-top: 0;
}

.tags-list .usa-list--unstyled li {
  margin-bottom: units(1);
}

.usa-tag:only-of-type {
  margin-right: units(0.5);
}

/*---------------------------------------------------------
SEARCH
----------------------------------------------------------*/
.result__title {
  color: color('primary');
}

/*---------------------------------------------------------
CHECKLIST 
----------------------------------------------------------*/
.checklist+ul {
  list-style: none;

  li {
    margin-bottom: units(1);
    text-indent: (-1 * units(3));
  }

  li::before {
    background: url('../_img/icons/check_circle_outline.svg') no-repeat center left;
    background-size: 85%;
    content: "\200B"; // Marker is white space but still reads as list item
    padding-left: units(3);
  }
}

