/*---------------------------------------------------------
------------ custom styles for get.gov --------------------
----------------------------------------------------------*/

@use 'uswds-core' as * ;

/*---------------------------------------------------------
SITEWIDE
----------------------------------------------------------*/
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// sections
.usa-section {
  padding-top: units(4);
  padding-bottom: units(4); 

  h2 {
    margin-top: 0;
    margin-bottom: units(3);
  }
}

a[href="#"] {
  background-color: color('gold-20v') !important; // Temporary styling for undetermined links
}

/*---------------------------------------------------------
TYPOGRAPHY
----------------------------------------------------------*/
h1 {
 color: color('primary-darker');
}

h2, .usa-prose h2 {
  color: color('primary-darker');
  font-weight: font-weight('semibold');
  line-height: line-height('heading', 3);
}

.postpreview_body h2 {
  margin-top: 0;
}

h3 {
  color: color('primary-dark');
  font-size: size('sans', 'lg');
  font-weight: font-weight('semibold');
}


.h3--sm {
  font-size: size('sans', 'md');
}


.usa-prose {
  h1 {
    margin-bottom: units(1);
  }

  h2 {
    max-width: measure(1);
    margin-top: units(4);
  }

  > h3 {
    font-size: size('sans', 'md');
    margin-top: units(3);
    margin-bottom: 0;
  }

  h2 + h3 {
    margin-top: units(2);
  }
  
  > h4 {
    font-size: size('sans', 'sm');
    margin-top: units(2.5);
  }

  p {
    margin-top: units(1);
    margin-bottom: units(2);
  }

  a {
  color: color('primary');
  }
}


/*---------------------------------------------------------
HEADER
----------------------------------------------------------*/

.usa-logo a {
  color: color('primary-darkest');
}

.usa-nav__inner .usa-search {
  align-self: center;
}

.usa-nav__inner .usa-search button {
  background-color: color('primary');
}


/*---------------------------------------------------------
FOOTER
----------------------------------------------------------*/
.usa-footer__secondary-section {
  background-color: color('primary-lightest');
  margin-top: units(6);

  @include at-media(tablet) {
    // workaround, as there is no uswds units(12)
    margin-top: units(6) * 2; 
  }

  .usa-footer__logo-img {
    max-width: units(9);
  }
}


/*---------------------------------------------------------
HOME 
----------------------------------------------------------*/

// ## HERO ------------------------------------------------
.hero {
  // background-color: color(gray-3);
  background-color: color('primary-lightest');
  padding-bottom: units(5);
  padding-top: units(5);

  //hide image on smallest screens, show on large mobile and up
  .hero-image {
    @include at-media(mobile-lg) {
      background-image: url('../_img/dotgov_hero.svg');
      background-position: 100% 30%;
      background-size: 40%;
      background-repeat: no-repeat;
      padding-top: 1em;
      padding-bottom: 1em;
    }

    @include at-media(tablet) {
      background-position: center right;
      background-size: auto;
    }
  }
  
  p {
    color: color('primary-darker');
  }

  .usa-button {
    margin-top: units(1.5);
  }
}

.hero-heading {
  @include at-media(mobile-lg) {
    color: color('primary-darker');
    max-width: 60%;
  }
}

.hero-heading__callout {
  color: color('primary-darker');
  margin-top: 0;

}

.hero-heading__content {
  font-size: size('sans', 'lg');
  font-weight: font-weight('normal');
  line-height: line-height('heading', 3);
  margin-bottom: 1em;
  margin-top: 0;
}


// ## HIGHLIGHTS ------------------------------------------
.highlight__benefits {
  .usa-graphic-list__row .usa-media-block {
    margin-bottom: units(2);

    p {
     font-size: size('body', 'md');    
    }
  }

  .usa-graphic-list__row .usa-media-block__img {
    margin-right: units(1.5);
  }

  h2 {
    color: white;
  }
}

.highlight__benefits {
  @include at-media(tablet-lg) {
    background-image: url('../_img/dotgov_benefit_goverse.svg');
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: contain;
  }
}

// ### LEARN ABOUT 
.highlight__learn {
  background-color: color('primary-lightest');

  .highlight__learn__graphic {
    display: none;

    @include at-media(tablet) {
      display: block;
    }
  }

  .usa-icon-list__icon {
    color: color('accent-cool-light');
    margin-right: units(1);
  }
  
  .highlight__learn__link,
  .highlight__learn__link:visited,{
    color: color('primary');
  }
}


// ## NEWS ----------------------------------------------- 
.news-item {
  list-style-type: none;
  position:relative; 

  .news-item__title {
    color: color('primary');
    margin-bottom: units(0.5);
    margin-top: units(1);
    text-decoration: none;

    &:before {
      background-color: color('accent-cool-light');
      border: 2px solid color('primary');
      border-radius: 50%;
      content: "";
      display: block;
      position: absolute; 
      left: -1 * units(3);
      top: units(1);
      width: units(1.5);
      height: units(1.5);
    }
  }

  .news-item__date {
    color: color('base');
    font-weight: weight('normal');
  }
}

.title-bullet {
    &:before {
      background-color: color('accent-cool-light');
      border: 2px solid color('primary');
      border-radius: 50%;
      content: "";
      display: block;
      position: absolute; 
      left: -1 * units(3);
      top: units(1);
      width: units(1.5);
      height: units(1.5);
    }
}

// ## FEATURED DOTGOV BOX ---------------------------------
.featured-dotgov {
  margin-top: units(3);
  @include at-media(tablet) {
    margin-top: units(1);
  }
}


/*---------------------------------------------------------
LANDING PAGES 
----------------------------------------------------------*/
// ## PAGE HEADER -----------------------------------------
.page-header {
  background-image: url('../_img/dotgov_dotgrid.svg');
  background-repeat: no-repeat;
  background-position: 550% top;
  background-size: 90%;

  @include at-media(tablet) {
    background-position: right;
    background-size: 60%;
  }

  @include at-media(desktop) {
    background-size: 50%;
  }
}

.landing__index ul {
  list-style: none;
  margin-top: units(5);
  padding-left: 0;

  a {
    text-decoration: none;
  }

  a:visited {
    color: color('primary');
  }
}

/*---------------------------------------------------------
NEWS/BLOG  
----------------------------------------------------------*/
// ## PREVIEWS ------------------------------------------
.postpreview {
  border-top: 0;
}

.aside__header {
  margin-top: 0;
  margin-bottom: units(1);
}

.aside__tags .usa-list--unstyled li {
  margin-bottom: units(1);
}

// ## NEWS/BLOG POST
.use-prose .post__metadata {
  margin-top: units(1.5);
}

/*---------------------------------------------------------
information pages 
----------------------------------------------------------*/
// .usa-prose h2 {
//   font-weight: font-weight('semibold');
//   line-height: line
//   line-height: line-height('heading', 3);
//   max-width: measure(1);
//   margin-top: units(4);
// }
