@use "cisa_colors" as *;

@use 'uswds-core' as * with (
  $theme-show-notifications: false,
  $theme-font-path: '../node_modules/@uswds/uswds/dist/fonts',
  $theme-image-path: '../node_modules/@uswds/uswds/dist/img',
  $theme-font-type-sans: 'source-sans-pro',
  $theme-hero-image: '../_img/dotgov_hero.svg',
  $theme-banner-background-color: 'primary-darker',
  $theme-banner-link-color: default,

  /*----------------------------
  # Typography Settings
  -----------------------------
  ## Type scales
  ----------------------------*/ 
  $theme-type-scale-2xl: 12,
  $theme-type-scale-xl: 10,
  $theme-type-scale-lg: 8,
  $theme-type-scale-md: 7,
  $theme-type-scale-sm: 5,
  $theme-type-scale-xs: 3,
  
  /*---------------------------
  ## Heading sizing
  ----------------------------*/ 
  $theme-h1-font-size: "2xl",
  $theme-h2-font-size: "xl",
  $theme-h4-font-size: "md",
  $theme-h5-font-size: "sm",
  $theme-h6-font-size: "xs",
  $theme-body-font-size: "sm",

  /*---------------------------
  ## Font weights
  ----------------------------*/ 
  $theme-font-weight-semibold: 600,

  /*---------------------------
  ## Font roles
  ----------------------------*/ 
  $theme-font-role-heading: 'sans',


  /*----------------------------
  # Color Settings
  ------------------------------
  ## Primary color
  ----------------------------*/ 
  $theme-color-primary-darker: $dhs-blue-70,
  $theme-color-primary-dark: $dhs-blue-60,
  $theme-color-primary: $dhs-blue,
  $theme-color-primary-light: $dhs-blue-30,
  $theme-color-primary-lighter: $dhs-blue-15,
  $theme-color-primary-lightest: $dhs-blue-10,

  /*---------------------------
  ## Accent color
  ----------------------------*/ 
  $theme-color-accent-cool: $dhs-light-blue-60,
  $theme-color-accent-cool-dark: $dhs-light-blue-70,
  $theme-color-accent-cool-light: $dhs-light-blue-40,

);

@forward 'uswds';

// * {
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }


// HERO
.hero {
  // background-color: color(gray-3);
  background-color: color('primary-lightest');
  padding-bottom: 2em;
  padding-top: 2em;

  @media all and (min-width: 768px) {
    .hero-image {
      background-image: url('../_img/dotgov_hero.svg');
      background-repeat: no-repeat;
      background-position: center right;
      padding-top: 1em;
      padding-bottom: 1em;
    }
  }
  
  p {
    // color: color(blue-warm-80v);
    color: color('primary-darker');
  }

  .usa-button {
    margin-top: 10px;
  }
}

.hero-heading {
  width: 60%;
  color: color(blue-warm-80v);
  -webkit-font-smoothing: antialiased;
}

.hero-heading-callout {
  color: color(blue-warm-80v);
}

.hero-heading-content {
  font-weight: 400;
  margin-bottom: 1em;
  margin-top: 0;
  font-size: 1.2rem;
}

// HIGHLIGHTS
.usa-section {
  padding-top: 2em;
}

// DARK SECTION
.usa-section--dark {
  .usa-graphic-list__row .usa-media-block {
    margin-bottom: 2rem;
  }
  h1 {
    color: white;
    font-weight: 400;
    font-size: 1.5rem;
  }

  .usa-identifier__required-link:visited, .usa-identifier__required-link.usa-link:visited {
    color: white;
  }

  .usa-icon-list__icon .usa-icon {
    color: white;
    margin-right: 20px
  }

  @media all and (min-width: 768px) {
    .learn {
      background-image: url('../_img/dotgov_internet.svg');
      background-repeat: no-repeat;
      background-position: 65%;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
    }
  }
}

// SUMMARY BOX

.usa-summary-box {
  margin-top: 20px;
  margin-bottom: 20px;
}
