name: Testing

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:

  pa11y-scan:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - name: Use Node
        uses: actions/setup-node@v3
        with:
          node-version: '17.x'
      - name: Install node dependencies
        run: npm install
      - name: Accessibility scan
        run: npm run pa11y
